body {
	background-color: #99a7ff;
	background-image:
		radial-gradient(at 38% 63%, hsla(358, 64%, 78%, 1) 0px, transparent 50%),
		radial-gradient(at 75% 69%, hsla(342, 71%, 71%, 1) 0px, transparent 50%),
		radial-gradient(at 82% 12%, hsla(325, 95%, 67%, 1) 0px, transparent 50%),
		radial-gradient(at 64% 88%, hsla(114, 85%, 77%, 1) 0px, transparent 50%),
		radial-gradient(at 46% 87%, hsla(326, 82%, 61%, 1) 0px, transparent 50%),
		radial-gradient(at 75% 67%, hsla(257, 81%, 77%, 1) 0px, transparent 50%),
		radial-gradient(at 87% 73%, hsla(94, 83%, 78%, 1) 0px, transparent 50%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	color: #fff;
}